#popular {
    margin: 50px 0;
}

.popular-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}

.popular-title h2 {
    color: #1A1A1A;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
}

.popular-title p {
    color: #00B207;
    cursor: pointer;
    /* Body Medium/Body Medium, 500 */
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    /* 24px */
}

.item-details {}

.item-details h2 {
    color: #4D4D4D;

    /* Body Small/Body Small, 400 */
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 21px */
}

.item-details h3 {
    color: #1A1A1A;

    /* Body Medium/Body Medium, 500 */
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    /* 24px */
}

.popular-item-wrapper {
    text-align: center;
}

.popular-item {
    margin: 12px;
    background-color: #fff;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #E6E6E6;
    border-radius: 5px;
    transition: all ease .8s;
    cursor: pointer;
}

.popular-item:hover {
    border: 1px solid #2C742F;
    box-shadow: 0px 0px 12px 0px rgba(32, 181, 38, 0.32);
}

.popular-item img {
    border-radius: 5px 5px 0 0;
    width: 254px;
    height: 230px;
}


.details-wrapper {
    width: 100%;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-details .star {
    color: #FF8A00;
}

.item-details .star svg:last-child {
    color: #CCCCCC;
}

.cart-icon-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-icon-wrapper .cart-icon:first-child {
    margin-right: 10px;
}

.cart-icon {
    width: 45px;
    height: 45px;
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.cart-icon:hover {
    background-color: #00B207;
}

.cart-icon:hover svg {
    color: #fff;
}